body {
    background: #3A4D39;
    font-family: Arial, sans-serif;
    margin: 0 100px;
    color: #fff;
}

.navbar, .row{
  width: 85%;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px ;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #A8DF8E;
  text-transform: uppercase;
}

.navbar ul li::after{
      content: '';
      height: 3px;
      width: 0;
      background: #FA7070;
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}

/* <!------------- Home ------------- */

.containerHeader{
  border-bottom: 5px #fff ;
}

.column-1{
  flex-basis: 80%;
}

.column-1 h2 {
  font-size: 32px;
}

.title{
  font-size: 100px;
}

.column-2{
  flex-basis: 60%;
}

.covercolumn-2 img{
  width: 700px;
  height: 600px;
  border-radius: 80% 15% 71% 29% / 10% 79% 21% 90%;
  padding-left: 100px;
}

footer {
  border-bottom: 2px solid #fff;
  padding: 0 0 10px 0;
  text-align: left; 
  color: #fff; 
}

footer h3, footer p{
  color: #B5CB99;
}

.intro{
  padding-top: 20px;
}

header h1{
  text-align: center;
  font-size: 50px;
}

.province {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative; 
}

.province:after {
content: '';
width: 100%;
height: 2px;
position: absolute;
bottom: 0;
left: 0;
}

.province img {
max-width: 50%;
height: auto;
}

.column-1 h3, .column-1 p{
  color: #B5CB99;
}

.column-2 img{
  max-width: 100%;
  max-height: 100%;
  padding-left: 100px;
}
     
.species {
  text-align: left;
}

.species-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  text-align: left;
}

.species-name {
  display: block;
  margin-bottom: 5px;
}

.species img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: 10px auto;
}
/* <!------ End of Home ------> */

/* <!------ About ------> */
.team {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.member {
  text-align: center;
  margin: 10px;
}

section h2 {
  text-align: left;
}

section {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative; 
}

.member img {
  border-radius: 50%;
}
/* <!------ End of About ------> */

/* <!------ Map ------> */
iframe {
  width: 80%;
  height: 80vh; 
  margin: 20px auto; 
  display: block;
}
/* <!------ End of Map ------> */

.copyright{
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background: #557C55;
  font-weight: 300;
}
.copyright i{
  color: #FA7070;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}